@import 'tailwindcss';

@custom-variant print (&:is(.print *, .print)) {
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  input,
  select {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select {
    pointer-events: none;
  }
}
